USE [master]
GO
/****** Object:  Database [restoran]    Script Date: 15.01.2022 00:20:41 ******/
CREATE DATABASE [restoran]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sayfalar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sayfalar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'sayfalar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\sayfalar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [restoran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [restoran]
GO
/****** Object:  Table [dbo].[sayfalar]    Script Date: 15.01.2022 00:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sayfalar](
	[sayfa_id] [int] IDENTITY(1,1) NOT NULL,
	[anasayfa] [text] NULL,
	[menu] [text] NULL,
	[iletisim] [text] NULL,
 CONSTRAINT [PK_sayfalar] PRIMARY KEY CLUSTERED 
(
	[sayfa_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yoneticiler]    Script Date: 15.01.2022 00:20:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yoneticiler](
	[yonetici_id] [int] NULL,
	[yonetici_adi] [nchar](10) NULL,
	[yonetici_sifre] [nchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sayfalar] ON 

SET IDENTITY_INSERT [dbo].[sayfalar] OFF
GO
INSERT [dbo].[yoneticiler] ([yonetici_id], [yonetici_adi], [yonetici_sifre]) VALUES (NULL, N'murat     ', N'123456    ')
GO
USE [master]
GO
